page-info3 {
    ion-content {
        background: #BFD7EA !important;
    }
    ion-row{
        height: auto;
    }
    .estilo{
        color: black;
         background-color: white; 
         text-align: center;
      
           
           -webkit-box-shadow: 0 10px 6px -6px #777;
          -moz-box-shadow: 0 10px 6px -6px #777;
               box-shadow: 0 10px 6px -6px #777; 
    }

    .estilo2{
        color: black; 
        background-color: white; 
        text-align: center; 
   
      

         -webkit-box-shadow: 0 10px 6px -6px #777;
          -moz-box-shadow: 0 10px 6px -6px #777;
               box-shadow: 0 10px 6px -6px #777; 
    }
}
