page-denuncia {
    ion-content {
        background: #BFD7EA !important;
    }

    .estilodeboton{
        background-color: white;
    text-align: center;
    text-align: center; 
    padding-top: 5px;
     padding-bottom: 5px;
    

    
        -webkit-box-shadow: 0 10px 6px -6px #777;
           -moz-box-shadow: 0 10px 6px -6px #777;
                box-shadow: 0 10px 6px -6px #777;

    }
    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

}
