page-si {
    ion-content {
        background: #0B3954 !important;
        color: #0B3954;
        font-weight:bold;
    }

    .button.customBtn{
        width:180px;
        text-align: center;
    }
}
