// http://ionicframework.com/docs/theming/

.alertCustomCss{
    color: #0B3954;
    text-align: center;

    .alert-wrapper{
        background: #FFF;
    }
    .alert-message {
        color:  #0B3954;
        font-size: 20px;
    }
    .alert-title{
        color: #FF6663;
        text-align: center;
        font-size: 20px;

    }
}

.splash{

    position:absolute;
    width: 100%;
    height:100%;
    z-index:999;
    display:flex;
    align-items: center;
    background: #ffffff;
    justify-content: center;

}
@keyframes lds-ripple {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-ripple {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }
  .lds-ripple {
    position: relative;
  }
  .lds-ripple div {
    box-sizing: content-box;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(1) {
    border-color: #23b4b7;
  }
  .lds-ripple div:nth-child(2) {
    border-color: #ff6b6c;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .lds-ripple {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@media only screen and (orientation: landscape)  {
    .my-modal {
     .modal-wrapper {
       position: absolute;
       top: 0 !important;
       left: 0 !important;
       display: block;
       width: 100% !important;
       height: 100% !important;
       color: seagreen;
     } 
   }
 }

 /*@media screen and (max-width: 320px) {
    ion-content {font-size: 10px;
        text-align: center;}
        p {font-size: 10px;
            text-align: center;}
    }
    
    @media screen and (max-width: 640px) {
        ion-content {font-size: 10px;
         text-align: center;}
         p {font-size: 10px;
            text-align: center;}
    }
    
    @media screen and (max-width: 800px) {
        ion-content {font-size: 10px;
        text-align: center;}
        p {font-size: 10px;
            text-align: center;}
    }
    @media screen and (max-width: 1024px) {
        ion-content {font-size: 12px;
         text-align: center;}
         p {font-size: 12px;
            text-align: center;}
            ion-title { font-size: 12px;
            }
    }
    */
    @media screen and (min-width: 768px) {
        ion-content {font-size: 30px;
        text-align: center;}
        h2 { font-size: 40px; }
        p  {font-size: 30px;
            text-align: center;}
        ion-title { font-size: 30px;
             }
    }
     