page-directorio {

        ion-content {
            background: #BFD7EA !important;
            color: white;
        }
        .fondo{
            background-color: #BFD7EA!important;
             color: white;
        }
        
        .custom-icon {
            color : white;
            justify-content: flex-end;
        }

        ion-img {
            float: right;
            background: transparent !important;            }
}
