page-directorio {

        ion-content {
            background: #BFD7EA !important;
            color: white;
        }
        .fondo{
            background-color: #BFD7EA!important;
        }
        
}
