page-identifica {
    ion-content {
        background: #BFD7EA !important;
    }
    .estilo{
        color: black;
         background-color: white; 
         text-align: center;
          padding-top: 5px ;
           border: 10px solid #0B3954; 
           
           -webkit-box-shadow: 0 10px 6px -6px #777;
          -moz-box-shadow: 0 10px 6px -6px #777;
               box-shadow: 0 10px 6px -6px #777; 
    }

    .estilo2{
        color: black; 
        background-color: white; 
        text-align: center; 
        padding-top: 5px ;
         border: 10px solid #23B4B7;

         -webkit-box-shadow: 0 10px 6px -6px #777;
          -moz-box-shadow: 0 10px 6px -6px #777;
               box-shadow: 0 10px 6px -6px #777; 
    }

    @media screen and (max-width: 320px) {
        ion-content {font-size: 20px;
            text-align: center;}
        }
        
        @media screen and (max-width: 640px) {
            ion-content {font-size: 20px;
             text-align: center;}
             p { font-size: 20px;
                text-align: center;}
        }
        
        @media screen and (max-width: 800px) {
            ion-content {font-size: 20px;
            text-align: center;}
            p { font-size: 20px;
                text-align: center;}
        }
        @media screen and (max-width: 1024px) {
            ion-content {font-size: 30px;
             text-align: center;}
             p { font-size: 30px;
                text-align: center;}
        }
        
        @media screen and (max-width: 1028px) {
            ion-content {font-size: 30px;
            text-align: center;}
            p { font-size: 30px;
                text-align: center;}
        }
}
