page-ciclo-violencia {

    ion-content {
        background: #BFD7EA !important;
    }
    
    .swiper-pagination-bullet-active{
        background:#FF6663;
    }
    ion-slide.swiper-slide {
        align-items: flex-start;
    }
    
    ion-slides {
        height: 100%;
      }
    
}
