page-test {
    ion-content {
        background: #BFD7EA !important;
        color: #0B3954;
        font-weight:bold;
    }

    .swiper-pagination-bullet-active{
        background:#FF6663;
    }

    .button.customBtn{
        width:180px;
    }
}
